{% extends 'base.html' %} {% block content %}
  <h2>{% block title %}Dashboard{% endblock %}</h2>
  <div class="card">
    <div class="card-header">{{current_user.name}}</div>
    <div class="card-body">
      <h5 class="card-title">Welcome To Your User Dashboard!!</h5>
      <p class="card-text">
        <strong>Name: </strong>{{current_user.name}}<br />
        <strong>Username: </strong>{{current_user.username}}<br />
        <strong>Email: </strong>{{current_user.email}}<br />
        <strong>Member Since:</strong>{{current_user.created}}<br />
      </p>
      <a href="{{url_for('users.logout')}}" class="btn btn-secondary btn-sm"
        >Logout</a
      >
      <a
        href="{{url_for('users.update', id=current_user.id)}}"
        class="btn btn-secondary btn-sm"
        >Edit Profile</a
      >
      <a href="{{url_for('users.logout')}}" class="btn btn-danger btn-sm"
        >Delete</a
      >
    </div>
    
  </div>
    <br />
    <div class="card">
      <div class="card-header">Update Profile</div>
      <div class="card-body">
        <form action="{{url_for('users.dashboard')}}" method="post">
          {{form.hidden_tag()}} {{form.name.label(class="form-label")}}
          {{form.name(class="form-control", value=current_user.name)}}
          {{form.username.label(class="form-label")}}
          {{form.username(class="form-control", value=current_user.username)}}
          {{form.email.label(class="form-label")}}
          {{form.email(class="form-control", value=current_user.email)}}
          <br />
          {{form.submit(class="btn btn-secondary")}}
        </form>
      </div>
    </div>
  </div>

  {% endblock %}
