{%extends 'base.html'%} {%block content%}
<h1>User List</h1>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  <form method="post">
    {{form.hidden_tag()}} {{form.name.label(class="form-label")}}
    {{form.name(class="form-control")}} {{form.email.label(class="form-label")}}
    {{form.email(class="form-control")}}
    {{form.password_hash.label(class="form-label")}}
    {{form.password_hash(class="form-control")}}
    {{form.password_hash2.label(class="form-label")}}
    {{form.password_hash2(class="form-control")}}
    <br />
    {{form.submit(class="btn btn-primary")}}
  </form>
</div>
<br /><br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {%for user in users_list%}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <a
          class="btn btn-success"
          href="{{url_for('users.update', id=user.id)}}"
          >Edit</a
        >
        -
        <a class="btn btn-danger" href="{{url_for('users.delete', id=user.id)}}"
          >Delete</a
        >
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
