{% extends 'base_auth.html' %} {% block content %}
<div class="auth-content">
  <form method="post">
    <h2 class="form-title">
      {% block header %}{% block title %}Log In{% endblock %} {% endblock %}
    </h2>
    {{form.hidden_tag()}}
    <div>{{form.username.label()}} {{form.username(class="text-input")}}</div>
    <div>
      {{form.password_hash.label()}}{{form.password_hash(class="text-input")}}
    </div>
    <div>{{form.submit(class="btn btn-big")}}</div>
    <p>Or <a href="{{url_for('users.register')}}">Sign Up</a></p>
  </form>
</div>
{% endblock %}
