{%extends 'base.html'%} {%block content%}
<h1>User List</h1>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  <form action="{{url_for('users.update', id=user.id)}}" method="post">
    {{form.hidden_tag()}} {{form.name.label(class="form-label")}}
    {{form.name(class="form-control", value=user.name)}}
    {{form.email.label(class="form-label")}} {{form.email(class="form-control",
    value=user.email)}}
    <br />
    {{form.submit(class="btn btn-primary")}}
    <a class="btn btn-danger" href="{{url_for('users.delete', id=user.id)}}"
      >Delete</a
    >
  </form>
</div>
{%endblock%}
