{% extends 'posts/base.html' %} {% block posts_content %}
<form method="post">
  {{form.hidden_tag()}}
  <div>{{form.title.label(class="")}} {{form.title(class="text-input")}}</div>
  <div>
    {{form.content.label(class="")}}{{form.content(class="text-input")}}
  </div>
  <div>{{form.slug.label(class="")}}{{form.slug(class="text-input")}}</div>
  <div>
    <select name="topic" id="topic" class="text-input">
      <option value="Poetry">Poetry</option>
      <option value="Life Lessons">Life Lessons</option>
      <option value="Poetry">Poetry</option>
      <option value="Poetry">Poetry</option>
    </select>
  </div>
  {{form.submit(class="btn btn-big")}} {{ckeditor.load(custom_url='ckeditor/static/ckeditor.js')}}
  {{ckeditor.config(name='content', language='es', height=600,
  imageUploadUrl='images',filebrowserBrowseUrl='images')}}
</form>
{% endblock %}
