{%extends 'public/base.html'%} {%block content%}
<!-- Facebook page plugin SDK -->
<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v19.0&appId=389028124863249"
  nonce="21lFDvgm"
></script>
<!-- // Facebook page plugin SDK -->

<!-- Page Wraper-->
<div class="page-wrapper">
  <!-- Content -->
  <div class="content clearfix">
    <!--// Main Content-->
    <div class="main-content-wrapper">
      <div class="main-content single">
        <h1 class="post-title">{{post.title}}</h1>
        <div class="post-content">
          <p>{{post.content | escape}}</p>
        </div>
      </div>
    </div>
    <!--// Main Content-->
    <!-- Sidebar -->
    <div class="sidebar single">
      <div
        class="fb-page"
        data-href="https://www.facebook.com/cursosdeprogramacionwebymas"
        data-tabs=""
        data-width=""
        data-height=""
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"
      >
        <blockquote
          cite="https://www.facebook.com/cursosdeprogramacionwebymas"
          class="fb-xfbml-parse-ignore"
        >
          <a href="https://www.facebook.com/cursosdeprogramacionwebymas"
            >Cursos de Programación WEB</a
          >
        </blockquote>
      </div>
      <div class="section popular">
        <h2 class="section-title">Popular Post</h2>
        <div class="post clearfix">
          <img src="images/Post.png" alt="" srcset="" />
          <a href="" class="title"><h4>How to overcome your fears</h4></a>
        </div>
        <div class="post clearfix">
          <img src="images/Post.png" alt="" srcset="" />
          <a href="" class="title"><h4>How to overcome your fears</h4></a>
        </div>
        <div class="post clearfix">
          <img src="images/Post.png" alt="" srcset="" />
          <a href="" class="title"><h4>How to overcome your fears</h4></a>
        </div>
        <div class="post clearfix">
          <img src="images/Post.png" alt="" srcset="" />
          <a href="" class="title"><h4>How to overcome your fears</h4></a>
        </div>
      </div>
      <div class="section topics">
        <h2 class="section-title">Topics</h2>
        <ul>
          <li><a href="#">Poems</a></li>
          <li><a href="#">Quootes</a></li>
          <li><a href="#">Fiction</a></li>
          <li><a href="#">Biography</a></li>
          <li><a href="#">Motivation</a></li>
          <li><a href="#">Inspiration</a></li>
          <li><a href="#">Life Lessons</a></li>
        </ul>
      </div>
    </div>
    <!-- // Sidebar -->
  </div>
  <!--// Content-->
</div>
<!--// Page Wraper-->
{%endblock%}
