<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}Flasker{%endblock%} - Flasker</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styled.css')}}"
    />
  </head>
  <body>
    <div class="container">
      {%include 'navbar.html'%} {% block header %}{% endblock %} {% block
      content %}{% endblock %} {%include 'footer.html'%}
    </div>
  </body>
</html>
