<header class="p-3 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        Flasker
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            href="{{url_for('tutorial.index')}}"
            class="nav-link px-2 text-white"
            >Name</a
          >
        </li>
        <li>
          <a href="{{url_for('users.index')}}" class="nav-link px-2 text-white"
            >Users</a
          >
        </li>
        <li>
          <a href="{{url_for('posts.index')}}" class="nav-link px-2 text-white"
            >Posts</a
          >
        </li>
      </ul>

      <form method="post" action="{{url_for("posts.search")}}" class="d-flex" role="search">
        {{form.hidden_tag()}}
        <input
          type="search"
          class="form-control me-2"
          placeholder="Search..."
          aria-label="Search"
          name="searched"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>

      <div class="text-end">
        {% if current_user.is_authenticated %}
        <li class="btn btn-outline-light me-2">
          <a href="{{url_for('users.dashboard')}}"
            ><span>{{current_user.username}}</span></a
          >
        </li>
        <li class="btn btn-outline-light me-2">
          <a href="{{url_for('users.logout')}}">Log Out</a>
        </li>
        {% else %}
        <li class="btn btn-outline-light me-2">
          <a href="{{url_for('users.login')}}">Login</a>
        </li>
        <li class="btn btn-warning">
          <a href="{{url_for('users.register')}}">Sign-up</a>
        </li>
        {% endif %}
      </div>
    </div>
  </div>
</header>
